Repository ohbug-org/ohbug: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{less,sass,scss,md,json,yml}": ["prettier --write", "git add"],
  "*.{js,jsx,html}": ["prettier --write", "eslint --fix", "git add"],
  "*.ts?(x)": [
    "prettier --parser=typescript --write",
    "eslint --fix",
    "git add"
  ]
}

chore: add playground dir
  .eslintignore
  package.json
  playground/react/.gitignore
  playground/react/index.html
  playground/react/package.json
  playground/react/src/App.css
  playground/react/src/App.tsx
  playground/react/src/favicon.svg
  playground/react/src/index.css
  playground/react/src/logo.svg
  playground/react/src/main.tsx
  playground/react/src/ohbug.ts
  playground/react/src/vite-env.d.ts
  playground/react/tsconfig.json
  playground/react/tsconfig.node.json
  playground/react/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore: unit test is changed to Vitest
  jest.config.js
  package.json
  packages/ohbug-browser/__tests__/client.test.ts
  packages/ohbug-browser/__tests__/notifier.test.ts
  packages/ohbug-core/__tests__/client.test.ts
  packages/ohbug-core/__tests__/config.test.ts
  packages/ohbug-core/__tests__/event.test.ts
  packages/ohbug-core/src/client.ts
  packages/ohbug-extension-uuid/__tests__/cookie.test.ts
  packages/ohbug-extension-uuid/__tests__/uuid.test.ts
  packages/ohbug-utils/__tests__/dom.test.ts
  packages/ohbug-utils/__tests__/get.test.ts
  packages/ohbug-utils/__tests__/logger.test.ts
  packages/ohbug-utils/__tests__/mixin.test.ts
  packages/ohbug-utils/__tests__/warning.test.ts
  packages/ohbug-vue/src/extension.ts
  playground/package.json
  pnpm-lock.yaml
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update deps and code adaptation
  package.json
  packages/ohbug-react/package.json
  packages/ohbug-react/src/OhbugErrorBoundary.ts
  playground/package.json
  playground/src/react/index.html
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: add prepublishOnly script
  package.json
Due: prettier --write

chore: publish
  packages/ohbug-angular/CHANGELOG.md
  packages/ohbug-angular/package.json
  packages/ohbug-browser/CHANGELOG.md
  packages/ohbug-browser/package.json
  packages/ohbug-core/CHANGELOG.md
  packages/ohbug-core/package.json
  packages/ohbug-extension-uuid/CHANGELOG.md
  packages/ohbug-extension-uuid/package.json
  packages/ohbug-react/CHANGELOG.md
  packages/ohbug-react/package.json
  packages/ohbug-types/CHANGELOG.md
  packages/ohbug-types/package.json
  packages/ohbug-utils/CHANGELOG.md
  packages/ohbug-utils/package.json
  packages/ohbug-vue/CHANGELOG.md
  packages/ohbug-vue/package.json
  playground/CHANGELOG.md
  playground/package.json
Due: prettier --write

chore(github): update github actions
  .github/workflows/lint.yml
Due: prettier --write

chore: add packageManager
  package.json
Due: prettier --write

feat: rename hooks name
  packages/ohbug-core/__tests__/client.test.ts
  packages/ohbug-core/src/config.ts
  packages/ohbug-core/src/event.ts
  packages/ohbug-core/src/notify.ts
  packages/ohbug-extension-uuid/src/extension.ts
  packages/ohbug-types/src/config.d.ts
  packages/ohbug-types/src/extension.d.ts
  packages/ohbug-utils/__tests__/logger.test.ts
Due: none

test: resolve test errors
  .husky/_/husky.sh
  package.json
  packages/ohbug-core/__tests__/client.test.ts
  packages/ohbug-utils/__tests__/dom.test.ts
  playground/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: update ci
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

fix(ohbug-vue): fixed type error
  CONTRIBUTING.md
  package.json
  packages/ohbug-angular/package.json
  packages/ohbug-browser/package.json
  packages/ohbug-core/package.json
  packages/ohbug-core/src/index.ts
  packages/ohbug-extension-uuid/package.json
  packages/ohbug-react/package.json
  packages/ohbug-utils/package.json
  packages/ohbug-vue/package.json
Due: prettier --write

chore: update publish script
  package.json
Due: prettier --write

chore: publish
  packages/ohbug-angular/CHANGELOG.md
  packages/ohbug-angular/package.json
  packages/ohbug-browser/CHANGELOG.md
  packages/ohbug-browser/package.json
  packages/ohbug-core/CHANGELOG.md
  packages/ohbug-core/package.json
  packages/ohbug-extension-uuid/CHANGELOG.md
  packages/ohbug-extension-uuid/package.json
  packages/ohbug-react/CHANGELOG.md
  packages/ohbug-react/package.json
  packages/ohbug-types/CHANGELOG.md
  packages/ohbug-types/package.json
  packages/ohbug-utils/CHANGELOG.md
  packages/ohbug-utils/package.json
  packages/ohbug-vue/CHANGELOG.md
  packages/ohbug-vue/package.json
  playground/CHANGELOG.md
Due: prettier --write

feat(types): update user ip field
  packages/ohbug-types/src/user.d.ts
Due: none

feat: rename metaData to metadata
  packages/ohbug-core/__tests__/client.test.ts
  packages/ohbug-core/src/client.ts
  packages/ohbug-core/src/config.ts
  packages/ohbug-core/src/event.ts
  packages/ohbug-core/src/lib/metaData.ts
  packages/ohbug-core/src/lib/metadata.ts
  packages/ohbug-types/src/client.d.ts
  packages/ohbug-types/src/config.d.ts
  packages/ohbug-types/src/event.d.ts
  packages/ohbug-types/src/index.d.ts
  packages/ohbug-types/src/metaData.d.ts
  packages/ohbug-types/src/metadata.d.ts
  playground/vite.config.ts
Due: none

feat: update deps
  README-zh_CN.md
  README.md
  package.json
  packages/ohbug-angular/package.json
  packages/ohbug-react/package.json
  packages/ohbug-utils/package.json
  packages/ohbug-vue/package.json
  playground/index.html
  playground/package.json
  playground/src/App.tsx
  playground/src/main.ts
  playground/src/main.tsx
  playground/src/ohbug.ts
  playground/src/react/index.html
  playground/src/vite-env.d.ts
  playground/src/vue/App.vue
  playground/src/vue/index.html
  playground/src/vue/ohbug.ts
  playground/tsconfig.json
  playground/tsconfig.node.json
  playground/vite.config.js
  playground/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(core): remove createExtensionUI
  package.json
  packages/ohbug-browser/src/capture/action/captureUrlChange.ts
  packages/ohbug-browser/src/capture/console/captureConsole.ts
  packages/ohbug-browser/src/capture/network/captureAjaxError.ts
  packages/ohbug-browser/src/capture/network/captureFetchError.ts
  packages/ohbug-browser/src/dispatch/scriptDispatcher.ts
  packages/ohbug-browser/src/notifier.ts
  packages/ohbug-core/src/client.ts
  packages/ohbug-core/src/event.ts
  packages/ohbug-core/src/extension.ts
  packages/ohbug-core/src/lib/metadata.ts
  packages/ohbug-extension-uuid/src/cookie.ts
  packages/ohbug-extension-uuid/src/uuid.ts
  packages/ohbug-types/src/extension.d.ts
  packages/ohbug-utils/src/mixin.ts
  packages/ohbug-utils/src/warning.ts
  packages/ohbug-vue/src/install.ts
  pnpm-lock.yaml
Due: prettier --write

chore: publish
  packages/ohbug-angular/CHANGELOG.md
  packages/ohbug-angular/package.json
  packages/ohbug-browser/CHANGELOG.md
  packages/ohbug-browser/package.json
  packages/ohbug-core/CHANGELOG.md
  packages/ohbug-core/package.json
  packages/ohbug-extension-uuid/CHANGELOG.md
  packages/ohbug-extension-uuid/package.json
  packages/ohbug-react/CHANGELOG.md
  packages/ohbug-react/package.json
  packages/ohbug-vue/CHANGELOG.md
  packages/ohbug-vue/package.json
  playground/CHANGELOG.md
  playground/package.json
Due: prettier --write

fix: fixed OhbugExtension setup type error
  packages/ohbug-core/src/extension.ts
  packages/ohbug-types/src/extension.d.ts
Due: none

fix(core): fix defineExtension return type error
  packages/ohbug-core/src/extension.ts
Due: none

feat: rename extension setup to onSetup
  packages/ohbug-core/src/client.ts
  packages/ohbug-types/src/extension.d.ts
  playground/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(browser): fixed browser setup named error
  packages/ohbug-browser/src/extension.ts
  packages/ohbug-core/__tests__/client.test.ts
  playground/package.json
  playground/src/ohbug.ts
  playground/vite.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: publish
  packages/ohbug-browser/CHANGELOG.md
  packages/ohbug-browser/package.json
  playground/CHANGELOG.md
  playground/package.json
Due: prettier --write

feat(browser): add referrer connection fields to device
  packages/ohbug-browser/src/device.ts
Due: none

fix(browser): device connection is empty
  packages/ohbug-browser/src/device.ts
Due: none

docs(vue): update vue2 doc
  packages/ohbug-vue/README-zh_CN.md
  packages/ohbug-vue/README.md
Due: prettier --write

fix(vue): fix vue2 type error
  packages/ohbug-vue/package.json
  packages/ohbug-vue/src/index.ts
  packages/ohbug-vue/src/install.ts
  packages/ohbug-vue/src/types.ts
  pnpm-lock.yaml
Due: prettier --write

chore: publish
  packages/ohbug-vue/CHANGELOG.md
  packages/ohbug-vue/package.json
Due: prettier --write

build: use target es2017
  tsup.config.ts
Due: none

chore: update deps
  package.json
  packages/ohbug-angular/package.json
  packages/ohbug-utils/package.json
  playground/package.json
  pnpm-lock.yaml
Due: prettier --write
